.idea/*
.idea/.
.gradle/*
gradle/
gradle/*
out/*
target/*
build/*
gradlew
gradlew.bat
src/main/main.iml
src/test/test.iml
test-output/
allure-results/
baselineImages/
!src/main/resources/baselineImages/
.DS_Store
.classpath
.project
.settings/
bin/